# Variables used by scripts/cloud-init.tpl.sh (envsubst)

# ACME
MAPINEDA48_EMAIL_ACME=

# Azure Blob Storage (blobfuse2)
STORAGE_ACCOUNT_NAME=
STORAGE_ACCOUNT_KEY=
STORAGE_DEPLOY_CONTAINER=

# Ngrok (optional)
NGROK_AUTHTOKEN=
NGROK_DEV_DOMAIN=

# pgAdmin (Docker Compose)
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_VIRTUAL_HOST=

# Azure Service Bus (core)
SERVICE_BUS_CONNECTION_STRING=
SERVICE_BUS_QUEUE_NAME=
